/* Simple styling. */
/* Purple background with a pink center. */

body {
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-space {
    background-color: pink;
    border-radius: 3rem;
    border: solid;
    padding: 5rem;
    margin-top: 10rem;
}

h1 {
    font-family:'Times New Roman', Times, serif;
    font-size: 3rem;
}

h2 {
    font-family:'Times New Roman', Times, serif;
    font-size: 2rem;
    
}